.App {
  text-align: center;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  margin: 0;
}

.header{
  background-color: cornflowerblue;
  padding: 14px;
  color: #FFF;
  width: 100%;
}

.form{
  margin-top: 12px;
}

.data{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 14px;
  width: 100%;
}

.data_heading, .data_val{
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 0px 5px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.data_heading h2, .data_val h5{
  width: 30%;
}

li{
  list-style-type: none;
}